extends ../../template/layout
block content
    div(class="text-center")
        h2
          a(href="/") #{title}
    div(class="row")
        div(class="center-block col-md-5 form space-big-top reset-float")
            form(action="/login" method="POST" class="form-horizontal")
                span Create an account
                div(class="form-group space-top")
                    label(for"name" class="col-sm-3 control-label") First Name
                    div(class="col-sm-8")
                        input(type='text' name="name" class='form-control' placeholder='First Name')
                div(class="form-group space-top")
                    label(for"lastname" class="col-sm-3 control-label") Last Name
                    div(class="col-sm-8")
                        input(type='text' name="lastname" class='form-control' placeholder='Last Name')
                div(class="form-group space-top")
                    label(for"email" class="col-sm-3 control-label") E-mail
                    div(class="col-sm-8")
                        input(type='text' name="email" class='form-control' placeholder='E-mail')
                div(class="form-group space-top")
                    label(for"username" class="col-sm-3 control-label") Username
                    div(class="col-sm-8")
                        input(type='text' name="username" class='form-control' placeholder='Username')
                div(class="form-group space-top")
                    label(for"password" class="col-sm-3 control-label") Password
                    div(class="col-sm-8")
                        input(type='password' name="password" class='form-control' placeholder='Password')
                div(class="form-group space-top")
                    input(type="submit" class="btn btn-success pull-left spacing-left" value="Register")
                    a(href="/auth/login" class="pull-right") I have an account
