extends layout

block content
  h1(style="color: #0ab8d6") Work Tasks .
      p(style="font-size: 0.82em; font-style: italic; color: rgba(38,39,41,.78)") App for task work manager, typed in Node JS and MongoDB
