body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
    color: #0ab8d6
}
 label {
     color: rgb(64, 64, 64);
 }


.reset-float {
    float: none;
}

.center-block {
    margin: auto !important;
}

.space-big-top {
    margin-top: 2.5% !important;
}

.space-top{
    margin-top: 2em;
}

.spacing-left {
    margin-left: 1.5%;
    float: none;
}

.form {
    padding: 1% 3%;
    background-color: rgba(247, 247, 247, 0.55);
    box-shadow: 0 0 8px 0 rgba(163, 156, 158, 0.65);
    -moz-box-shadow: 0 0 8px 0 rgba(163, 156, 158, 0.65);
    -webkit-box-shadow: 0 0 8px 0 rgba(163, 156, 158, 0.65);
    -o-box-shadow: 0 0 8px 0 rgba(163, 156, 158, 0.65);
}



.form span {
    text-align: center;
    font-size: 1.8em;
    color: #29b6d3;
}