extends ../template/layout

block content
  div(class='text-center reset-float index')
      h1
        a(href="/") #{title}
      p ¡App for task work manager, typed in Node JS and MongoDB and Express...!

      a(href="/auth/login") Log in
      a(href="/auth/signup") Sing up